# Build output
target/
*.class
*_version.py
*.egg-info
build/
_site/

# Log file
*.log

# Package files
*.jar
*.war
*.ear
*.zip
!test_zip.zip
*.tar.gz
*.rar
node_modules

# Temporary files
*.swp
*~
*.bak
tmp/
temp/
*.tmp

# macOS
# ignore all files ending in .DS_Store
**/.DS_Store

# Project environment files
.env

# Python-Virtual Environments
.venv
.python-version

# Python-Sphinx
/_source
_build
doctrees

# Python-Coverage
.coverage
coverage.xml

# PyPI
.pypitoken

# Python Cache
__pycache__/
.pytest_cache/

# IDE
.idea/
*.iml

# Jetbrains IDE settings
/.idea

# Notebooks
*.ipynb*
!examples/**/*.ipynb*

# VS Code
/.vscode/settings.json

# Vim
.exrc

# Databases
*.sqlite3

# Test result files
output.csv
