.hero{
  background: linear-gradient(110deg, rgba(173, 207, 220, 0.25) 8.02%, rgba(46, 98, 118, 0.50) 117.53%);
}

.section{
  h2{
    font-size: 28px;
  }
}

.footnotes{
  border-color:#82B4C9;;
  gap:15px;

  p{
    font-weight: 200;
    font-size: 22px;
    line-height: 140%;
  }
}