@use "variables" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  color: $record-linker-paragraph-color;
  background-color: $record-linker-bg-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $record-linker-body-font;
}

h1,h2,h2,h4,h5{
  color: $record-linker-heading-color;
}

.page-container{
  margin: 0 auto;

  &--lg{
    @extend .page-container;
    max-width: 800px;
  }

  &--xl{
    @extend .page-container;
    max-width: 1200px;
  }
}

.usa-button{
  background-color: $record-linker-primary-color;
}
