/**********************************
 * Record linker specific styling
 **********************************/

@use "variables" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 140%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-container {
  margin: 0 auto;

  &--lg {
    @extend .page-container;
    max-width: 50rem;
  }

  &--xl {
    @extend .page-container;
    max-width: 75rem;
  }

  &--full-height {
    min-height: calc(100vh - 11.75rem);
  }
}

.border-color-light-blue {
  border-color: $record-linker-blue-border-light;
}

.subheading {
  color: $record-linker-subheading-color;
  font-size: 1.125rem;
}
