/**********************************
 * Record linker specific styling
 **********************************/

@use "variables" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 140%;

  // toastify
  --toastify-toast-min-height: 2rem;
  --toastify-toast-bd-radius: 0.25rem;
  --toastify-toast-padding: 0;
  --toastify-toast-width: 34rem;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $record-linker-bg-color;
}

.page-container {
  margin: 0 auto;

  &--lg {
    max-width: 50rem;
  }

  &--xl {
    max-width: 75rem;
  }

  &--full-height {
    min-height: calc(100vh - 11.75rem);
  }
}

.border-color-light-blue {
  border-color: $record-linker-blue-border-light;
}

.subheading {
  color: $record-linker-subheading-color;
  font-size: 1.125rem;
}

.text-good {
  color: $green-cool-40;
}

.text-okay {
  color: $gold-50v;
}

.text-bad {
  color: $red-warm-60v;
}

th .descending-order {
  &:after {
    content: "";
    background: url(/images/up-tick.svg) no-repeat;
    height: 0.313rem;
    width: 0.563rem;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.375rem;
    position: relative;
    top: -0.188rem;
  }
}

/*
 *  Toast
 */
.Toastify__toast-container {
  .usa-alert__heading {
    font-size: inherit;
  }
  .usa-alert__body {
    border-radius: $record-linker-border-radius;
    &::before {
      mask-size: 2rem 2rem;
    }
  }

  // alert types
  .usa-alert--success .usa-alert__body {
    &::before {
      background-color: $green-cool-vivid-80v;
    }
    color: $green-cool-vivid-80v;
  }

  .usa-alert--error .usa-alert__body {
    &::before {
      background-color: $red-cool-80v;
    }
    color: $red-cool-80v;
  }
}

.Toastify__toast-icon {
  display: none;
}
