// record linker colors
$blue-cool-blue-cool-1: #f6f8fa;
$blue-cool-blue-cool-5: #e7f2f5;
$blue-cool-blue-cool-90: #0f191c;
$blue-cool-blue-cool-80: #14333d;
$blue-cool-blue-cool-70: #224a58;
$blue-cool-blue-cool-60: #2e6276;
$blue-cool-blue-cool-20: #adcfdc;
$gray-cool-gray-cool-2: #f7f9fa;
$gray-cool-gray-cool-20: #c6cace;
$gray-cool-gray-cool-10: #dfe1e2;
$green-cool-vivid-80v: #19311e;
$red-cool-80v: #4f1c24;
$red-70: #6f3331;
$red-warm-60v: #9c3d10;
$green-cool-40: #4d8055;
$gold-50v: #936f38;

// app specific
$record-linker-bg-color: $blue-cool-blue-cool-1;
$record-linker-header-footer-color: $blue-cool-blue-cool-80;
$record-linker-heading-color: $blue-cool-blue-cool-80;
$record-linker-subheading-color: $blue-cool-blue-cool-80;
$record-linker-blue-border-light: #82b4c9;
