@use "../../styles/variables.scss" as *;

.serverError {
  background: $gray-cool-gray-cool-10;
  border-radius: $record-linker-border-radius;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.15);
  padding: 9.563rem 0;
}

.instructions {
  border-radius: $record-linker-border-radius;
  font-size: 1.125rem;
  border: solid 0.063rem $red-70;
  background: $gray-cool-gray-cool-2;
}
