name: "mypy check"
on:
    push:
      branches: [main]
    pull_request:
      branches: [main]

jobs:

  static-type-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.11'
        cache: 'pip'
    - run: pip install ".[dev]"
    - name: Get Python changed files
      id: changed-py-files
      uses: tj-actions/changed-files@v45
      with:
        files: |
          src/recordlinker/models/*.py
          src/recordlinker/models/**/*.py
          src/recordlinker/linking/*.py
          src/recordlinker/linking/**/*.py
    - name: Run if any of the listed files above is changed
      if: steps.changed-py-files.outputs.any_changed == 'true'
      run: mypy ${{ steps.changed-py-files.outputs.all_changed_files }} --ignore-missing-imports
